---
---

@import "{{ site.theme }}";

.btn, .btn:hover {
  display: inline-block;
  color: #1e6bb8;
  margin-bottom: 1rem;
  border: #1e6bb8 solid 1px;
  border-radius: 0.3rem;
  text-align: center;
}

@media screen and (min-width: 64em) {
  .main-content {
    padding: 2rem 3rem;
  }
}
